*:not(i) {
    font-family: 'Roboto', sans-serif !important;
}

body,
.navbar {
    background: #F8F9FA;
}

.slide-content-section {
    background: #17A2B8;
    padding-left: 10%;
    padding-right: 10%;
}

.text1 {
    color: #FFFFFF80;
}

.course-content {
    padding-left: 10%;
    padding-right: 10%;
}

.card{
    width: 320px;
}

#Recommended-div, #popular-div, #trending-div{
    gap: 30px;
}

.img-card {
    width: 100%;
    height: 195px;
}

.card-header {
    padding: 0px;
}

.div-footer {
    padding-left: 10%;
    padding-right: 10%;
}

.origin-price {
    text-decoration: line-through;
    color: #6C757D;
}

